//Fonts
$header-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

body {
    margin: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 0;
    font-family: $body-font;
    color: white;
    padding: 20px;

    a { 
        text-decoration: none;
        font-weight: bold;
        color: hsl(198, 60%, 50%);
    }

    a:hover {
        text-decoration: underline;
    }
}

.main-container {
    width: 100%;

    /* reusabol */
    .button {
        color: hsl(0, 0%, 100%);
        font-family: $header-font;
        font-weight: 700;
        background-color: hsl(198, 60%, 50%);
        border: none;
        padding: 15px 40px;
        border-radius: 50px;
        cursor: pointer;
        width: 100%;

        @media (min-width: 1024px) {
            width: fit-content;
        }
    }

    .button:hover {
        background-color: hsl(176, 68%, 64%);
    }

    button:focus {
        outline: none;
    }

    .email-input {
        padding: 15px 30px;
        border-radius: 50px;
        border: none;
    }

    .main-header__logo {
        width: 88px;
        height: 25px;
        margin: 0;

        @media (min-width: 768px) {
            width: 176px;
            height: 52px;
        }
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .main-footer__logo {
        width: 150px;
        height: 45px;
        margin: 0 0 10px 20px;

        @media (min-width: 1024px) {
            margin: 0 0 30px 20px;
        }
        
        img {
            width: 100%;
            height: 100%;
        }
    }
    /* end of reusabol */
    
    .main-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: hsl(217, 28%, 15%);
        padding: 20px;
        align-items: center;

        @media (min-width: 768px) {
            padding: 50px;
        }

        .main-header__menu {
            margin: 0;
            padding: 0;
            height: fit-content;
        }

        .main-header__menu > li {
            display: inline;
            padding-left: 10px;

            @media (min-width: 768px) {
                padding-left: 30px;
            }
        }

        .main-header__menu > li > a {
            color: hsl(0, 0%, 100%);
            text-decoration: none;
            font-family: $header-font;
            font-size: 14px;

            @media (min-width: 768px) {
                font-size: 18px;
            }
        }

        .main-header__menu > li > a:hover {
            text-decoration: underline;
        }
    }

    .main-content {

        .main-content__wrapper1 {
            background: url(images/bg-curvy-mobile.svg) no-repeat, hsl(217, 28%, 15%);
            background-position: bottom center;

            @media (min-width: 768px) {
                background: url(images/bg-curvy-desktop.svg) no-repeat, hsl(217, 28%, 15%);
                background-position: bottom center;
            }

            .main-content__first {
                display: flex;
                flex-direction: column;
                padding: 20px;
                font-family: $header-font;
                text-align: center;
                align-items: center;

                @media (min-width: 768px) {
                    margin: auto;
                }

                @media (min-width: 1024) {
                    //width: 100%;
                }
    
                .first__illustration {
                    width: 224px;
                    height: 164px;
                    margin: auto;
                    
                    @media (min-width: 768px) {
                        width: 360px;
                        height: 267px;
                    }

                    @media (min-width:1024px) {
                        width: 720px;
                        height: 534px;
                    }
                }
    
                .first__illustration > img {
                    width: 100%;
                    height: 100;
                }

                .first__description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    @media (min-width: 768px) {
                        width: 50%;
                    }

                    @media (min-width: 1024px) {
                        width: 40%;
                    }

                    @media (min-width: 1280px) {
                        width: 30%;
                    }

                    h1 {
                        color: hsl(0, 0%, 100%);
                        font-size: 20px;
                        line-height: 28px;
                    }
        
                    p {
                        color: hsl(0, 0%, 100%);
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .button {
                        width: unset;
                        padding: 15px 70px;
                    }
                }
            }
        }

        .main-content__wrapper2 {
            display: flex;
            flex-flow: column wrap;
            padding: 50px 20px;
            background-color: hsl(218, 28%, 13%);

            @media (min-width: 768px) {
                flex-flow: row wrap;
                justify-content: center;
            }

            @media (min-width: 1024) {
                padding: 30px 200px;
            }

            .main-content__second {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 0 0 30px 0;
                color: hsl(0, 0%, 100%);
                
                @media (min-width: 768px) {
                    padding: 50px;
                    width: 30%;
                }

                .first__image {
                    margin: 0;
                }

                .first__image > img {

                }

                h3 {
                    margin: 20px 0 10px 0;
                    font-family: $header-font;
                }
                
                p {
                    margin: 0;
                    font-family: $body-font;
                    font-size: 14px;
                }
            }
        }

        .main-content__wrapper3 {
            background-color: hsl(218, 28%, 13%);
            padding: 30px;

            @media (min-width: 768px) {
                padding: 50px;
            }

            .main-content__third {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (min-width: 1024px) {
                    flex-direction: row; 
                }
            }

            .second__illustration {
                width: 254px;
                height: 209px;
                margin: 0 auto;

                @media (min-width: 768px) {
                    width: 307px;
                    height: 232px;
                }

                @media (min-width: 1024px) {
                    width: 615px;
                    height: 465px;
                }

                @media (min-width: 1280px) {
                    width: 615px;
                    height: 465px;
                }
            }

            .second__illustration > img {
                width: 100%;
                height: 100%;
            }

            .content__description {
                display: flex;
                flex-direction: column;
                color: hsl(0, 0%, 100%);
                margin: 30px 0 0 0;

                @media (min-width: 768px) {
                    width: 500px;
                }

                @media (min-width: 1024px) {
                    margin: 0;
                }

                h1 {
                    font-family: $header-font;
                    font-size: 16px;

                    @media (min-width: 768px) {
                        font-size: revert;
                        width: 75%;
                    }
                }

                p, a {
                    font-family: $body-font;
                    font-size: 12px;

                    @media (min-width: 768px) {
                        font-size: 14px;
                    }
                }

                a {
                    text-decoration: none;
                    position: relative;
                    color: hsl(176, 68%, 64%);
                }

                a:before {
                    position: absolute;
                    content: "";
                    background: url("images/icon-arrow.svg") no-repeat;
                    width: 16px;
                    height: 16px;
                    top: 1px;
                    left: 115px;

                    @media (min-width: 768px) {
                        top: 2px;
                        left: 135px;
                    }
                    
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .main-content__wrapper4 {
            position: relative;
            background-color: hsl(218, 28%, 13%);
            padding: 80px 30px;
            z-index: 1;

            @media (min-width: 375px) {
                padding: 80px 20px;
            }

            .main-content__fourth {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                @media (min-width: 1024px) {
                    flex-flow: row wrap;
                    width: 100%;
                    justify-content: center;
                }

                .content__feedback {
                    display: flex;
                    flex-direction: column;
                    background-color: hsl(219, 30%, 18%);
                    margin: 0 0 20px 0;
                    padding: 40px 30px 30px;
                    border-radius: 5px;
                    box-shadow: 0 5px 5px 2px hsl(217, 28%, 15%);
                    width: 100%;
                    height: 100%;

                    @media (min-width: 375px) {
                        max-width: 250px;
                    }

                    @media (min-width: 1024px) {
                        max-width: 200px;
                        margin: 0 30px 0 0;
                    }

                    @media (min-width: 1280px) {
                        max-width: 300px;
                    }

                    p {
                        font-family: $body-font;
                        color: hsl(0, 0%, 100%);
                        margin: 0 0 20px 0;
                        font-size: 12px;
                        line-height: 19px;

                        @media (min-width: 768px) {
                            font-size: 14px;
                        }
                    }

                    .content__author {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }

                    .content__author > .author__picture {
                        width: 25px;
                        height: 25px;
                        margin: 0 10px 0 0;
                    }

                    .content__author > .author__picture > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }

                    .content__author > .author__details {
                        display: flex;
                        flex-direction: column;
                    }

                    .content__author > .author__details > .author__name {
                        color: hsl(0, 0%, 100%);
                        font-weight: 700;
                        font-family: $header-font;
                        font-size: 14px;
                        margin: 0 0 5px 0;
                    }

                    .content__author > .author__details > .author__role {
                        color: hsl(0, 0%, 100%);
                        font-weight: 300;
                        font-family: $body-font;
                        font-size: 12px;
                    }
                }

                .content__feedback:last-child {
                    margin-right: 0;
                }

                .content__feedback:first-child {
                    position: relative;
                }

                .content__feedback:first-child::before {
                    position: absolute;
                    content: "";
                    background: url("images/bg-quotes.png") no-repeat;
                    width: 27px;
                    height: 22px;
                    left: 18px;
                    top: -22px;
                    background-size: 27px 22px;
                    
                    @media (min-width: 1024px) {
                        width: 55px;
                        height: 45px;
                        background-size: 55px 45px;
                        left: -11px;
                        top: -34px;
                        z-index: -1;
                    }
                }

                .content__signup {
                    background-color:  hsl(219, 30%, 18%);
                    display: flex;
                    flex-direction: column;
                    margin: 100px 0 -200px 0;
                    padding: 30px;
                    border-radius: 10px;
                    align-items: center;
                    text-align: center;
        
                    @media (min-width: 768px) {
                        width: 600px;
                        margin: 116px 0 -174px 0;
                    }
        
                    h1 {
                        margin: 0;
                        font-family: $header-font;
                        font-size: 20px;
                        color: hsl(0, 0%, 100%);
                    }
        
                    p {
                        font-family: $body-font;
                        font-size: 14px;
                        color: hsl(0, 0%, 100%);
                    }
        
                    .email {
                        display: flex;
                        flex-direction: column;
                        margin: 20px 0 0 0;
                        width: 100%;
        
                        @media (min-width: 768px) {
                            flex-direction: row;
                            justify-content: space-between;
                        }
        
                        input + input {
                            margin-top: 20px;
        
                            @media (min-width: 768px) {
                                margin-top: 0;
                            }
                        }

                        input:focus {
                            outline: none;
                        }
        
                        input:first-child {
                            
                            @media (min-width: 768px) {
                                width: 45%;
                            }
                        }
        
                        input {
                        
                            @media (min-width: 768px) {
                                width: 40%;
                            }
                        }
                    }
                }
            }
        } 
    }

    .main-footer {
        background-color: hsl(216, 53%, 9%);

        .footer__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 200px;
            
            @media (min-width: 1024px) {
                padding: 200px 50px 50px 50px;
            }

            .first__row {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .second__row {
                display: flex;
                flex-direction: column;
                width: 100%;

                @media (min-width: 1024px) {
                    flex-direction: row;
                }

                ul {
                    padding: 0;
                    //flex: 1;
                }

                ul > li {
                    list-style-type: none;
                }

                ul > li > a {
                    text-decoration: none;
                    color: hsl(0, 0%, 100%);
                    font-family: $body-font;
                    font-size: 14px;
                }

                .location {
                    display: flex;
                    flex-direction: column;
                    margin: 20px 60px;
                    flex: 1.5;

                    @media (min-width: 1024px) {
                        margin: 0 40px 0 60px;
                    }

                    li > p {
                        position: relative;
                        font-size: 13px;
                        font-family: $body-font;
                        color: hsl(0, 0%, 100%);
                        margin: 0;
                    }

                    li > p:before {
                        position: absolute;
                        content: "";
                        background: url("images/icon-location.svg") no-repeat;
                        width: 13px;
                        height: 18px;
                        top: 2px;
                        left: -40px;
                    }
                }

                .contact {
                    display: flex;
                    flex-direction: column;
                    margin: 0 60px 40px 60px;
                    flex: 1.5;

                    @media (min-width: 1024px) {
                        margin: 0 0 0 60px;
                    }

                    li {
                        position: relative;
                        margin: 0 0 15px 0;
                    }

                    li > a:hover {
                        text-decoration: underline;
                    }

                    .phone:before {
                        position: absolute;
                        content: "";
                        background: url("images/icon-phone.svg") no-repeat;
                        width: 18px;
                        height: 18px;
                        top: 2px;
                        left: -40px;
                    }

                    .email:before {
                        position: absolute;
                        content: "";
                        background: url("images/icon-email.svg") no-repeat;
                        width: 20px;
                        height: 16px;
                        top: 2px;
                        left: -40px;
                    }
                }

                .nav {
                    padding: 20px;
                    margin: 0;
                    flex: 1;

                    @media (min-width: 1024px) {
                        padding: 0;
                    }

                    li {
                        margin: 0 0 14px 0;
                    }

                    li > a:hover {
                        text-decoration: underline;
                    }
                }

                .icons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 40px auto 0;
                    flex: 1;

                    @media (min-width:1024px) {
                        margin: 0;
                    }

                    li {
                        margin: 0 10px 0 0;
                    }

                    li:last-child {
                        margin: 0;
                    }

                    li > a > i {
                        border: 1px solid white;
                        border-radius: 50%;
                        padding: 6px 9px;
                    }

                    li > a > .fa-twitter, .fa-instagram {
                        padding: 6px 7px;
                    }
                }
            }
        }
    }
}   